<header>
  <a class="show-on-focus link-block" href="#main">Skip to main content</a>
  <nav class="primary-nav" aria-label="primary">
    <a
      class="primary-nav__link primary-nav__link--home"
      href="/"
      aria-label="Home"
      ><img src="/images/ev-boone-dds-logo.svg" alt=""
    /></a>
    <ul class="primary-nav__list">
      <li>
        <a class="primary-nav__link" href="/first-visit">Your First Visit</a>
      </li>
      <li><a class="primary-nav__link" href="/about">About Us</a></li>
      <li><a class="primary-nav__link" href="/services">Services</a></li>
      <li><a class="primary-nav__link" href="/forms">Patient Forms</a></li>
      <li>
        <a class="primary-nav__link" href="/appointments"
          >Request An Appointment</a
        >
      </li>
    </ul>
  </nav>
</header>
