<header>
  <a class="show-on-focus link-block" href="#main">Skip to main content</a>
  <nav aria-label="primary">
    <ul class="primary-nav">
      <li>
        <a class="link-block" href="/" aria-label="Home"
          ><img src="/images/ev-boone-dds-logo.svg" alt=""
        /></a>
      </li>
      <li><a class="link-block" href="/first-visit">Your First Visit</a></li>
      <li><a class="link-block" href="/about">About Us</a></li>
      <li><a class="link-block" href="/services">Services</a></li>
      <li><a class="link-block" href="/forms">Patient Forms</a></li>
      <li>
        <a class="link-block" href="/appointments">Request An Appointment</a>
      </li>
    </ul>
  </nav>
</header>
