<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}&thinsp;&mdash;&thinsp;{{page.title}}{{^page.title}}{{site.description}}{{/page.title}}</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1><a href="/">EV Boone DDS</a></h1>
    <nav>
      <ul>
        <li><a href="{{ site.urls.firstVisit }}">Your First Visit</a></li>
        <li><a href="{{ site.urls.about }}">About Us</a></li>
        <li><a href="{{ site.urls.services }}">Services</a></li>
        <li><a href="{{ site.urls.forms }}">Patient Forms</a></li>
        <li><a href="{{ site.urls.appointments}}">Request An Appointment</a></li>
      </ul>
    </nav>
  </header>
  <main role="main">
