.show-on-focus,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.show-on-focus {
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0;
  background-color: #005158;
  color: white;

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}

.sr-only {
  padding: 0;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
