---
layout: layouts/default
title: Cosmetic Dentistry
---

<h2>Porcelain Veneers</h2>

<p>
  Veneers are thin porcelain or plastic devices which are placed usually on
  front teeth in an attempt to change the patient’s teeth color, size, shape or
  any combination of the three. Usually there is a dental laboratory involved
  who will fabricate the veneers. For most cases, the teeth (or tooth) involved
  will be reduced in size from a few tenths of a millimeter to up to a couple of
  millimeters to provide room for the new facings. New materials in dentistry
  have also allowed the patient to have veneers without the cutting on a tooth
  (or teeth). Usually the dental practitioner will give the patient his or her
  options concerning the type of treatment best suited for the patient’s needs
  and desires.
</p>

<h2>Cosmetic Dentistry: Fillings and Bonding</h2>

<p>
  Tooth-colored fillings have been an acceptable part of dentistry for many
  years now, starting first in front teeth and are now used in the back teeth
  with fairly predictable results. Bonding is a term used when using
  tooth-colored plastics to directly or indirectly make a covering for an
  anterior (front) tooth. The material is bonded to the tooth preparation using
  weak acids to roughen the tooth structure and bonding agents which adhere to
  both tooth and plastic. Bonding can sometimes involve veneers or full crowns
  also.
</p>

<h2>Tooth Replacement: Dental Implants, Bridges, Dentures and Partials</h2>

<p>
  Our office is sensitive to the needs of those who don’t have natural teeth,
  have natural teeth that are badly decayed and/or mobile, or have worn partial
  or complete removable dentures. Restorative options include:
</p>

<ul>
  <li>
    A <strong>dental implant</strong> may be employed in the edentulous (missing
    tooth) area, either as a single tooth or as part of a multiple
    implant-retained fixed restoration.
  </li>
  <li>
    <strong>Composite bridges</strong> can replace one or more teeth and are
    affixed to natural teeth to give the patient a more “permanent” solution.
  </li>
  <li>
    <strong>Overdentures,</strong> using 2 or more natural teeth, or placed over
    implants, can prove to be a real benefit for those who want a secure, stable
    fit, especially in the lower jaw region.
  </li>
  <li>
    <strong>Immediate dentures</strong> are suggested when removing the
    remaining teeth. These allow for a more accurate jaw relationship that keeps
    the person biting in a more natural, known occlusion (bite) by placing the
    denture onto the ridge at the same visit that the teeth are extracted. They
    are completely removable to make cleaning and proper care easier.
  </li>
  <li>
    Other specialized and esthetic <strong>partial</strong> and
    <strong>complete dentures</strong> as well as
    <strong>dental implants</strong> are available depending on the patient’s
    needs and desires.
  </li>
</ul>

<p>
  All of the above give the patient the opportunity to resume proper mouth
  functions including eating and speaking. Dr. Boone understands how important
  it is for his patients to have a more accurate and comfortable bite and works
  with a full service dental laboratory that uses high quality materials.
</p>

<h2>Crowns: Porcelain, Precious Metals</h2>

<p>
  When a tooth is badly damaged and a filling is not an option, we may recommend
  a full crown. Our office offers porcelain, full cast gold and high noble
  (silver) crowns depending on your preference. Crowns enhance cosmetic
  appearance and are fitted comfortably in the mouth to ensure a natural fit.
</p>

<h2>Teeth Whitening</h2>

<p>
  We can recommend a number of whitening solutions for stained or discolored
  teeth, including the NITE WHITE home bleaching system for those who wish to
  brighten their teeth in a safe, easy way.
</p>
