---
layout: layouts/default
title: Orthodontics
---

<p>
  We understand how important it is to have confidence in your smile, which is
  why Dr. Boone offers children and adult orthodontics. Each patient’s needs are
  different, and as such are evaluated individually. Our desire is to develop a
  treatment plan that will best suit you.
</p>

<p>
  Below you’ll find answers to a few frequently asked questions about our
  orthodontic treatments:
</p>

<details>
  <summary>What types of braces do you offer?</summary>

  <p>
    We offer braces for children and adults and use metal, porcelain and
    invisible braces (ClearCorrect).
  </p>
</details>

<details>
  <summary>What is ClearCorrect?</summary>

  <p>
    ClearCorrect is a form of invisible braces using clear aligners, which allow
    the wearer to interact with others without them being aware that the wearer
    is actually having their teeth repositioned.
  </p>
</details>

<details>
  <summary>How do I find out if ClearCorrect is an option for me?</summary>

  <p>
    After a complete oral examination, which may include a full mouth x-ray
    series or a panoramic x-ray and bitewing x-rays, and any needed treatment,
    the patient and the dental practitioner discuss his/her orthodontic
    treatment options, including if ClearCorrect invisible braces are part of
    the patient’s options.
  </p>
</details>

<details>
  <summary>What is the treatment process if ClearCorrect is an option?</summary>

  <p>
    If the patient is a candidate and agrees to treatment, the dental office and
    the patient agree upon the financial arrangements. Once monetary obligations
    are finalized, the patient has very accurate upper and lower impressions of
    their teeth and surrounding support tissue taken along with photos of the
    patient’s beginning oral situation. An x-ray of the side of the patient’s
    skull and oral cavity will also be taken.
  </p>

  <p>
    Dr. Boone will then send a report to the lab detailing what is to be
    accomplished by the use of the invisible braces and the lab. If in agreement
    that ClearCorrect can obtain those goals, the lab will use the impressions
    provided by Dr. Boone to form upper and lower models of the patient’s teeth.
    These models will then be scanned in a computer, which will then decide the
    steps needed to achieve the aims of the braces.
  </p>

  <p>
    Once the number of parts of the treatment are identified, the computer will
    have a series of clear trays fabricated for each part of the treatment.
    Unlike other invisible braces, ClearCorrect patients are given 2 clear trays
    at each appointment, with one tray being worn for 3 weeks, then the next one
    being worn for another 3 weeks. That means 6 weeks of not having to schedule
    an appointment.
  </p>

  <p>
    There may be needed treatment on the teeth such as slight removal of enamel
    between the teeth to provide room for movement or placement of plastic
    “positioners” on the face of the front teeth which allow pressure to be
    exerted in a certain manner to that tooth and others surrounding it. It is a
    fairly easy procedure for the patient and the dentist alike.
  </p>
</details>

<p>
  If you are interested in finding out more about how orthodontics can help you
  achieve a beautiful smile, or for questions about our orthodontic treatment
  options, please call our office at (409) 769-4433 to schedule an appointment.
</p>
