---
layout: layouts/default
title: Preventive Care
---

<h2>Oral Examinations</h2>

<p>
  Our comprehensive exam includes a complete oral examination and a full mouth
  series of 20 x-rays or a panoramic film and bite-wing x-rays used to screen
  for active decay and periodontal diseases. We will also discuss dental history
  and any options you may need to maintain healthy teeth and gums or restore
  problem areas, as well as review any additional desires and/or concerns you
  may have.
</p>

<h2>Hygiene & Periodontal Health Consultations and Cleanings</h2>

<p>
  Having a Hygienist perform thorough, routine cleanings is one of the best
  preventative measures you can take to maintain healthy teeth and gums. Our
  Hygienists are licensed professionals who help evaluate problem areas and
  implement treatment plans based on patient needs.
</p>

<p>
  Remember, regularly scheduled dental maintenance visits helps reduce the
  chances of major damage that could occur over time due to neglect. It’s no
  secret that healthy teeth and gums are a lot less expensive to maintain than
  to repair.
</p>

<p>
  Call our office at (409) 769-4433 to make your appointment today.
</p>
