{{> header}}
    <h1>Your first visit</h1>
    <div>Testimonial</div>
    <div>Forms</div>
    <div>Payment information<div>
    <div>Location</div>
    <div>Make an appointment (CTA)<div>
    <div>Something about common fears</div>
{{> footer}}