{{> header}}
    <h1>Our Services</h1>
    <ul>
        <li>Orthodontics</li>
        <li>General dentistry</li>
        <li>Implants</li>
        <li>Preventive care</li>
        <li>Cosmetic (whitening?)</li>
    </ul>
{{> footer}}