---
layout: layouts/default
title: About Us
---

{% if staff.size > 0 %}
<section aria-labelledby="staff">
  <h2 id="staff">Staff</h2>
  <ul>
    {% for emp in staff %}
    <li>
      <h3>{{ emp.name }}</h3>
      {% unless emp.img.src == blank %}
      <img src="{{ emp.img.src }}" alt="{{ emp.img.alt }}" />
      {% endunless %} {{ emp.bio }}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<div>
  <h2>Our Facility</h2>
  <ul>
    <li>Photos</li>
    <li>Possible blurb about remodel</li>
    <li>Equipment</li>
  </ul>
</div>
<div>
  <h2>Location and Hours</h2>
  <ul>
    <li>Map</li>
    <li>Contact block</li>
  </ul>
</div>
<div>
  <h2>Insurance and Payment Options</h2>
  <ul>
    <li>Possibly logos of most common options</li>
  </ul>
</div>
