---
layout: layouts/default.mustache
title: About Us
---

<div>
  <h2>Staff</h2>
  <ul>
    <li>
      <h3>Dr. Boone</h3>
      <div>Photo</div>
      <p>Bio</p>
    </li>
    <li>
      <h3>Hygienist 1</h3>
      <div>Photo</div>
      <p>Bio</p>
    </li>
    <li>
      <h3>Hygienist 2</h3>
      <div>Photo</div>
      <p>Bio</p>
    </li>
    <li>
      <h3>Office Manager</h3>
      <div>Photo</div>
      <p>Bio</p>
    </li>
  </ul>
</div>
<div>
  <h2>Our Facility</h2>
  <ul>
    <li>Photos</li>
    <li>Possible blurb about remodel</li>
    <li>Equipment</li>
  </ul>
</div>
<div>
  <h2>Location and Hours</h2>
  <ul>
    <li>Map</li>
    <li>Contact block</li>
  </ul>
</div>
<div>
  <h2>Insurance and Payment Options</h2>
  <ul>
    <li>Possibly logos of most common options</li>
  </ul>
</div>
