---
layout: layouts/default.mustache
title: Request an Appointment
---

<form action="#" aria-labelledby="appointment-heading">
  <fieldset>
    <legend id="appointment-heading">
      Your information
    </legend>
    <p>Paragraph about the procedure.</p>
    <p><strong>If this is an emergency copy here.</strong></p>
    <div>
      <input id="name" type="text">
      <label for="name">Your name</label>
    </div>
    <div>
      <input id="email" type="email">
      <label for="email">Your email</label>
    </div>
    <div>
      <input id="phone" type="tel">
      <label for="phone">Your phone number</label>
    </div>
    <div>
      <input id="date" type="date">
      <label for="date">Your preferred date</label>
    </div>
    <div>
      <input type="radio" name="time" id="time-morning" value="0">
      <label for="time-morning">Morning</label>
      <input type="radio" name="time" id="time-afternoon" value="1">
      <label for="time-morning">Afternoon</label>
    </div>
    <button type="submit">Submit your request</button>
  </fieldset>
</form>