---
layout: layouts/default
title: Your First Visit
---

<p>
  We welcome all new patients to our practice and have provided a few steps to
  help guide you through your first visit.
</p>
<ol>
  <li>
    Call our office at (409) 769-4433 to make an appointment, and let them know
    you are a new patient.
  </li>
  <li>
    Print out the appropriate New Patient Forms, fill them out and bring them
    with you to your appointment:
    <ul>
      <li>
        <a href="pdf/medForm_adult.pdf" target="_blank">Adult Patient Forms</a>
      </li>
      <li>
        <a href="pdf/medForm_child.pdf" target="_blank">Child Patient Forms</a>
      </li>
    </ul>
  </li>
  <li>
    Arrive fifteen minutes early to your first appointment so we can process
    your paperwork and insurance information.
  </li>
  <li>
    For questions or concerns contact our office by phone at (409) 769-4433.
  </li>
</ol>
<p>
  If you cannot view the New Patient Forms,
  <a href="http://www.adobe.com/go/getreader" target="_blank"
    >download the latest Adobe Reader here</a
  >.
</p>
<div>Testimonial</div>
<div>Forms</div>
<div>
  <h2>Insurance and Payment Options</h2>
  <p>
    Our office accepts most insurance plans, and we will gladly submit all
    insurance claims for you in a timely manner. We accept check, cash, or any
    major credit card.
  </p>
  <p>
    To help you afford the treatments you need and want, we have also partnered
    with CareCredit, a payment program that gives patients a cost conscious
    financial option when paying medical expenses. Once approved, you can begin
    treatments when needed and pay in monthly installments depending upon the
    plan you choose. Please visit
    <a href="http://www.carecredit.com/">CareCredit.com</a> for more
    information.
  </p>
  <p>
    If you have questions regarding insurance information and payment options,
    call our office today at {{ business.phone }}.
  </p>
</div>
<div>Location</div>
<div>Make an appointment (CTA)</div>
<div>Something about common fears</div>
