---
layout: layouts/default
title: Our Services
---

<ul>
  <li><a href="/services/orthodontics">Orthodontics</a></li>
  <li><a href="/services/cosmetic">Cosmetic Dentistry</a></li>
  <li><a href="/services/preventive">Preventive care</a></li>
</ul>

<p>
  We understand how important it is for you to have confidence in your smile,
  which is why we offer a wide range of advanced materials and procedures to
  maintain and improve your overall dental health.
</p>
<p>
  As part of our commitment to excellence, Dr. Boone and his staff make every
  effort to ensure patients are comfortable and well informed. We also uphold
  the highest safety standards providing quality treatment in a safe, clean
  environment.
</p>
<h2>What We Offer</h2>
<p>
  Whether you’re a first-time patient or someone who’s been with us for years,
  we strive to protect your dental health, offering everything from preventive
  to repair care. Our services include:
</p>
<ul>
  <li><a href="#exams">Oral Examinations</a></li>
  <li>
    <a href="#hygiene"
      >Hygiene &amp; Periodontal Health Consultations and Cleanings</a
    >
  </li>
  <li><a href="#orthodontics">Orthodontics</a></li>
  <li><a href="#veneers">Porcelain Veneers</a></li>
  <li>
    <a href="#cosmetic">Cosmetic Dentistry: Fillings, Bonding, Contouring</a>
  </li>
  <li>
    <a href="#replacement"
      >Tooth Replacement: Dental Implants, Bridges, Dentures and Partials</a
    >
  </li>
  <li><a href="#crowns">Crowns: Porcelain, Precious Metals</a></li>
  <li><a href="#whitening">Teeth Whitening</a></li>
  <li>
    Surgical Procedures: <a href="#extractions">Extractions</a>,
    <a href="#rct">Root Canal Therapy</a>
  </li>
  <li><a href="#scaling">Scaling and Root Planning</a></li>
  <li><a href="#sealants">Sealants</a></li>
  <li><a href="#sedation">Sedation</a></li>
</ul>
<h4><a name="exams"></a>Oral Examinations</h4>
<p>
  Our comprehensive exam includes a complete oral examination and a full mouth
  series of 20 x-rays or a panoramic film and bite-wing x-rays used to screen
  for active decay and periodontal diseases. We will also discuss dental history
  and any options you may need to maintain healthy teeth and gums or restore
  problem areas, as well as review any additional desires and/or concerns you
  may have.
</p>
<p><a name="hygiene"></a></p>
<h4>Hygiene &amp; Periodontal Health Consultations and Cleanings</h4>
<p>
  Having a Hygienist perform thorough, routine cleanings is one of the best
  preventative measures you can take to maintain healthy teeth and gums. Our
  Hygienists are licensed professionals who help evaluate problem areas and
  implement treatment plans based on patient needs.
</p>
<p>
  Remember, regularly scheduled dental maintenance visits helps reduce the
  chances of major damage that could occur over time due to neglect. It’s no
  secret that healthy teeth and gums are a lot less expensive to maintain than
  to repair.
</p>
<p>Call our office at (409) 769-4433 to make your appointment today.</p>
<h4><a name="orthodontics"></a>Orthodontics</h4>
<p>
  We understand how important it is to have confidence in your smile, which is
  why Dr. Boone offers children and adult orthodontics. Each patient’s needs are
  different, and as such are evaluated individually. Our desire is to develop a
  treatment plan that will best suit you.
</p>
<p>
  Below you’ll find answers to a few frequently asked questions about our
  orthodontic treatments:
</p>
<h5>Q: What types of braces do you offer?</h5>
<p>
  A: We offer braces for children and adults and use metal, porcelain and
  invisible braces (ClearCorrect).
</p>
<h5>Q: What is ClearCorrect?</h5>
<p>
  A: ClearCorrect is a form of invisible braces using clear aligners, which
  allow the wearer to interact with others without them being aware that the
  wearer is actually having their teeth repositioned.
</p>
<h5>Q: How do I find out if ClearCorrect is an option for me?</h5>
<p>
  A: After a complete oral examination, which may include a full mouth x-ray
  series or a panoramic x-ray and bitewing x-rays, and any needed treatment, the
  patient and the dental practitioner discuss his/her orthodontic treatment
  options, including if ClearCorrect invisible braces are part of the patient's
  options.
</p>
<h5>Q: What is the treatment process if ClearCorrect is an option?</h5>
<p>
  A: If the patient is a candidate and agrees to treatment, the dental office
  and the patient agree upon the financial arrangements. Once monetary
  obligations are finalized, the patient has very accurate upper and lower
  impressions of their teeth and surrounding support tissue taken along with
  photos of the patient's beginning oral situation. An x-ray of the side of the
  patient's skull and oral cavity will also be taken.
</p>
<p>
  Dr. Boone will then send a report to the lab detailing what is to be
  accomplished by the use of the invisible braces and the lab. If in agreement
  that ClearCorrect can obtain those goals, the lab will use the impressions
  provided by Dr. Boone to form upper and lower models of the patient's teeth.
  These models will then be scanned in a computer, which will then decide the
  steps needed to achieve the aims of the braces.
</p>
<p>
  Once the number of parts of the treatment are identified, the computer will
  have a series of clear trays fabricated for each part of the treatment. Unlike
  other invisible braces, ClearCorrect patients are given 2 clear trays at each
  appointment, with one tray being worn for 3 weeks, then the next one being
  worn for another 3 weeks. That means 6 weeks of not having to schedule an
  appointment.
</p>
<p>
  There may be needed treatment on the teeth such as slight removal of enamel
  between the teeth to provide room for movement or placement of plastic
  “positioners” on the face of the front teeth which allow pressure to be
  exerted in a certain manner to that tooth and others surrounding it. It is a
  fairly easy procedure for the patient and the dentist alike.
</p>
<p>
  If you are interested in finding out more about how orthodontics can help you
  achieve a beautiful smile, or for questions about our orthodontic treatment
  options, please call our office at (409) 769-4433 to schedule an appointment.
</p>
<h4><a name="veneers"></a>Porcelain Veneers</h4>
<p>
  Veneers are thin porcelain or plastic devices which are placed usually on
  front teeth in an attempt to change the patient’s teeth color, size, shape or
  any combination of the three. Usually there is a dental laboratory involved
  who will fabricate the veneers. For most cases, the teeth (or tooth) involved
  will be reduced in size from a few tenths of a millimeter to up to a couple of
  millimeters to provide room for the new facings. New materials in dentistry
  have also allowed the patient to have veneers without the cutting on a tooth
  (or teeth). Usually the dental practitioner will give the patient his or her
  options concerning the type of treatment best suited for the patient’s needs
  and desires.
</p>
<h4><a name="cosmetic"></a>Cosmetic Dentistry: Fillings and Bonding</h4>
<p>
  Tooth-colored fillings have been an acceptable part of dentistry for many
  years now, starting first in front teeth and are now used in the back teeth
  with fairly predictable results. Bonding is a term used when using
  tooth-colored plastics to directly or indirectly make a covering for an
  anterior (front) tooth. The material is bonded to the tooth preparation using
  weak acids to roughen the tooth structure and bonding agents which adhere to
  both tooth and plastic. Bonding can sometimes involve veneers or full crowns
  also.
</p>
<h4>
  <a name="replacement"></a>Tooth Replacement: Dental Implants, Bridges,
  Dentures and Partials
</h4>
<p>
  Our office is sensitive to the needs of those who don't have natural teeth,
  have natural teeth that are badly decayed and/or mobile, or have worn partial
  or complete removable dentures. Restorative options include:
</p>
<ul>
  <li>
    A <strong>dental implant</strong> may be employed in the edentulous (missing
    tooth) area, either as a single tooth or as part of a multiple
    implant-retained fixed restoration.
  </li>
  <li>
    <strong>Composite bridges</strong> can replace one or more teeth and are
    affixed to natural teeth to give the patient a more “permanent” solution.
  </li>
  <li>
    <strong>Overdentures</strong>, using 2 or more natural teeth, or placed over
    implants, can prove to be a real benefit for those who want a secure, stable
    fit, especially in the lower jaw region.
  </li>
  <li>
    <strong>Immediate dentures</strong> are suggested when removing the
    remaining teeth. These allow for a more accurate jaw relationship that keeps
    the person biting in a more natural, known occlusion (bite) by placing the
    denture onto the ridge at the same visit that the teeth are extracted. They
    are completely removable to make cleaning and proper care easier.
  </li>
  <li>
    Other specialized and esthetic <strong>partial</strong> and
    <strong>complete dentures</strong> as well as
    <strong>dental implants</strong> are available depending on the patient’s
    needs and desires.
  </li>
</ul>
<p>
  All of the above give the patient the opportunity to resume proper mouth
  functions including eating and speaking. Dr. Boone understands how important
  it is for his patients to have a more accurate and comfortable bite and works
  with a full service dental laboratory that uses high quality materials.
</p>
<h4><a name="crowns"></a>Crowns: Porcelain, Precious Metals</h4>
<p>
  When a tooth is badly damaged and a filling is not an option, we may recommend
  a full crown. Our office offers porcelain, full cast gold and high noble
  (silver) crowns depending on your preference. Crowns enhance cosmetic
  appearance and are fitted comfortably in the mouth to ensure a natural fit.
</p>
<h4><a name="whitening"></a>Teeth Whitening</h4>
<p>
  We can recommend a number of whitening solutions for stained or discolored
  teeth, including the NITE WHITE home bleaching system for those who wish to
  brighten their teeth in a safe, easy way.
</p>
<h4><a name="extractions"></a>Extractions</h4>
<p>
  Dental extractions are sometimes needed, either because a tooth is not
  repairable or sometimes due to economic reasons. Extractions may be
  recommended in the following cases:
</p>
<ul>
  <li>For removal of wisdom teeth</li>
  <li>If a tooth is irreparable due to severe infection or decay</li>
  <li>To make room for orthodontics</li>
</ul>
<p>
  In some cases, Dr. Boone may not recommend an extraction. It is always the
  choice of the patient ( or guardian/parent if the patient is a minor ) to
  determine if an extraction is desired. Dr. Boone reserves the right to refer
  the patient to an oral surgeon if the extraction cannot be comfortably removed
  at this office.
</p>
<h4><a name="rct"></a>Root Canal Therapy</h4>
<p>
  When it comes to root canal therapy, or RCT, we’re taking steps to relieve
  patient fears and anxieties. It is our desire to make sure you are as
  comfortable and well informed as possible, which is why we are answering a
  series of frequently asked questions below:
</p>
<h5>Q: What is root canal therapy, or RCT?</h5>
<p>
  A: RCT is a dental procedure used mainly when the dental pulp (made up of
  blood vessels and nerve tissue) of a tooth has been traumatized, either
  through tooth injury or the bacterial invasion of decay within a tooth.
</p>
<p>
  In attempting RCT, the dentist is trying to successfully remove the blood
  vessels and nerve tissue that are within the middle of the tooth and into its
  roots. The roots themselves aren’t “taken out” by any means (that would be an
  extraction).
</p>
<p>
  The cleansed tooth is then “filled” with sealer materials in an attempt to
  “seal” the tooth in hopes to prevent bacterial or dead tissue poisons from
  reentering the bone structure and causing a continual infection.
</p>
<p>
  Most teeth that have RCT need the coverage of a crown over them to protect the
  investment made in the teeth.
</p>
<h5>Q: How successful are root canals?</h5>
<p>
  A: Studies have shown that approximately 90% of root canal therapies function
  well after 10 years. RCT failures are possible, but the majority of teeth
  extracted after RCT are due to the patient not getting the teeth properly
  repaired after the treatment.
</p>
<h5>Q: Are root canals painful?</h5>
<p>
  A: Our staff will gladly talk with you about any concerns you have about pain
  related to the RCT procedure. Many teeth in need of RCT are already painful
  when the patient arrives at Dr. Boone’s facility, and it is our desire to
  repair the tooth so the patient can return to normal activities as quickly as
  possible.
</p>
<p>
  The tooth in question has to be numb just like any other dental procedure.
  Proper planning and discussion between the patient and Dr. Boone’s personnel,
  along with proper anesthetizing, are essential for achieving a pleasant result
  when completing RCT, which is why we take precautionary measures and monitor
  your condition during the procedure.
</p>
<p>If sensitivity occurs afterward, an ibuprofen medication can be used.</p>
<h5>Q: Who can I contact for more information about root canal therapy?</h5>
<p>
  A: For more information about RCT, contact Dr. Boone’s office at (409)
  769-4433.
</p>
<h4><a name="sedation"></a>Sedation</h4>
<p>
  Our office offers several types of sedation in an attempt to lessen a
  patient’s anxiety when having dental treatment. Inhalation (breathing through
  the nose) sedation using nitrous oxide (“laughing gas”) can be used either by
  itself or in conjunction with oral (taken by mouth) sedation medicines.
  Occasionally 2 types of oral medications may be used at the same time
  depending on the length of treatment visit (short and long acting anti anxiety
  drugs).
</p>
